#wrapper {
	max-width: 960px;
	margin: 0 auto;
}

/*.container {
	margin: 10px;
	margin-top: 120px;
	}*/

	hr {
		width: 90%;
		size: 1px;
	}

	header, footer {
		text-align: center;
		color: white;
	}

	header {
		background-color: #ffffff;
		border-color: #cccccc;
		width: 100%;
		margin-top: 0px;
		position: fixed;
		top: 0;
		left: 0;
		height: 75px;
		z-index: 1;
		border-style: solid;
		border-width: 3px 0px 0px 0px;
	}

	body {
		width: 960px;
		margin: 0 auto;
		background-color: #4aaaa5;
		color: #777777;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

	#h {
		font-family: 'Georgia', Times, Times New Roman, serif;
	}

	.links {
		vertical-align: center;
		float: right;
		font-weight: lighter;
	}

	h1 {
		text-align: center;
		font-size: 1.25em;
		width: 200px;
		float: left;
		padding-top: 25px;
		padding-bottom: 25px;
		margin-top: 0px;
		background-color: rgb(1,185,171);
	}

	h2 {

	}

	h3 {
		color: rgb(1,185,171);
		margin-left: 1em;
	}

	h4 {
		color: rgb(1,185,171);
		text-align: center;
	}

	h5 {
		text-align: center;
		padding: 25px;
		color: #777777;
	}

	h6 {
		font-size: 11px;
	}

	p {
		padding-right: 1em;
		padding-left: 1em;
	}

	img {
		margin: 1em;
		float: left;
	}

	a {
		color: #777777;
	}

/*
body {
    background-image: url("assets/images/dark-triangles.png");
    }*/

    #my_name {
    	width: 150px;
    	/*margin-left: inherit;*/

    }

    #about, #portfolio, #contact {
    	float: left;
    	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    	color: #777777;
    	font-weight: lighter;
/*	position: relative;
*/	width: 100px;
}

#bio_image {
	width: 650px;
	background-color: #ffffff;
	float: left;
	margin-bottom: 2em;
	border-width: 1px;
	border-color: #dddddd;
	margin-top: 100px;
}

#portfolio_images {
	width: 650px;
	background-color: #ffffff;
	float: left;
	margin-bottom: 100px;
	border-width: 1px;
	border-color: #dddddd;
	margin-top: 100px;
	z-index: -1;
}

#portfolio_images img {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#connect_with_me {
	width: 270px;
	background-color: #ffffff;
	float: right;
	border-width: 1px;
	border-color: #dddddd;
	margin-top: 100px;
}

#hangman, #rpg, #widget, #trivia, #RSP {
	width: 250px;
	height: 200px;
	/*Setting this as relative in the attempt to get it to serve as the parent of the p element*/
	position: relative;
	display: inline;
}

#hangman p, #rpg p, #widget p, #trivia p, #RSP p {
	text-align: center;
	font-size: 1em;
	width: 250px;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px;
	/*Me trying to get the stupid p element to sit on top of the image*/
	position: absolute;
	color: white;
	background-color: rgb(1,185,171);
}

#hangman p {
	top: 175px;
	right: 32px;
}

#rpg p {
	top: 175px;
	right: 32px;
}

#widget p {
	top: 425px;
	right: 32px;
}

#trivia p {
	top: 425px;
	right: 346px;
}

#RSP p {
	top: 678px;
	right: 346px;
}

#contact_form_box {
	width: 650px;
	background-color: #ffffff;
	float: left;
	margin-bottom: 7em;
	border-width: 1px;
	border-color: #dddddd;
	margin-top: 100px;
}

.ext_links img {
	border-radius: 10%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: rgb(1,185,171);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

footer {
	background-color: #666666;
	margin-bottom: 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-style: solid;
	border-width: 8px 0px 0px 0px;
	border-color: #4aaaa5;
}

@media screen and (max-width: 980px) and (min-width: 769px) {
	#wrapper {
		width: 980px;
	}
}

@media screen and (max-width: 768px) and (min-width: 641px) {
	header {
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		font-size: large;
	}

	h3 {
		font-size: x-large;
	}

	#bio_image {
		margin-left: 50px;
	}

	#portfolio_images {
		margin-left: 50px;
		margin-bottom: 30px;
	}

	#connect_with_me {
		margin-bottom: 100px;
		margin-top: 0px;
		margin-right: 260px;
		font-size: larger;
		float-left;
		width: 650px;
	}

	#portfolio, #contact, #about {
		/*position: relative;*/
		right: 240px;
		font-size: 1em;
	}

/*    #main-container {
      width: 90%;
      margin-left: 25px;
      margin-right: 25px;
      font-size: smaller;

    }

    container img {
      width: 30%;
      float: right;

    }

    #contact-form {
      font-size-adjust: smaller;
      }*/

      .links {
      	display: inline-block;
      }
  }

  @media screen and (max-width: 640px) {

  	header {
  		position: static;
  		max-width: 620px;
  		padding-right: 10px;
  		padding-left: 10px;
  		padding-bottom: 100px;
  		font-size: smaller;
  		margin-bottom: 0;
  	}

  	h1 {
  		margin-top: -20px;
  		margin-left: -30px;
  		margin-bottom: 0px;
  		width: 100%;
  		padding-right: 130%;
  		padding-left: 130%;
  		padding-top: 0px;
  		padding-bottom: 0px;
  		width: 135%;
  		font-size: xx-large;
  	}

  	h3 {
  		font-size: x-large;
  	}

  	p {
  		font-size: larger;
  	}

  	.links {
  		clear: both;

  	}

  	#portfolio, #contact, #about {
  		position: relative;
  		right: 220px;
  		font-size: 2em;
  	}

  	#bio_image {
  		margin-top: 0px;
  		padding: 5px;
  		max-width: 550px;
  	}

  	#bio_image img {
  		width: 95%;
  	}

  	#portfolio_images {
  		/*margin-left: 20px;*/
  		margin-bottom: 30px;
  		margin-top: 0px;
  		max-width: 560px;

  	}

  	#portfolio_images img {
  		width: 510px;
		height: 510px;
  	}

  	#connect_with_me {
  		margin-bottom: 100px;
  		margin-top: 0px;
  		margin-right: 80px;
  		font-size: larger;
  		float-left;
  		width: 560px;
  	}

    /*#logo {
      width: 100%;
    }

    nav {
      position: static;
      float: left;
      padding-left: 20%;
      padding-right: 20%;
    }

    .main-section {
      margin-right: 0;
      }*/

      #wrapper {
      	width: 640px;
      	margin-top: 0;
      	margin-bottom: 0;
      	margin-left: 25px;
      	margin-right: 25px;
      	padding: 10px;
      	padding-top: 20px;
      	font-size: smaller;
      }
  }

